
:root {
    --primary-color:black;;
    --secondary-color:#2A4849;
    --accent1-color: #B5CA8D;
    --accent2-color:white;
    --font-family: "Lato", Helvetica, sans-serif;
}

main{
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr
}

html {
    background-color: var(--accent2-color);
}

div{
    background-color: white;
}

head{
    color:var(--primary-color);

}

body{
    max-width: 960px;
    margin: 0 auto; 
}

h1{
    background-color:var(--accent1-color);
    font-size: 40px;
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    max-width: 760px;
}

p{
    text-align: center;
    padding: 10px;
}