@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orelega+One&display=swap');
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

.heroimage img{
    max-width: 800px;
    }
/*
.images-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    }
    
.images-container img{
    border: 10px solid var(--accent1-color);
    box-shadow: 5px 5px 5px #999;
    margin: auto;
    display: block;
    }*/

}