@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orelega+One&display=swap');
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 57rem) {


* {
    box-sizing: border-box;
    }


.heroimage img{
    width: 100%;
}

/*gallery*/
.images-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    }
    
.images-container img{
    border: 10px solid var(--accent1-color);
    box-shadow: 5px 5px 5px #999;
    margin: auto;
    display: block;
    }

/* Home Page*/

.three-images{
    width: 100%;
    height: auto;
    grid-row: 2;

}

/*
.json_section {
    display: block;
    grid-template-columns: 1fr;
    background-color: #D1F5FF;
    margin: 0 auto;
    margin-bottom: 10px;

}
*/
#index_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin: 0 auto;
}

}