@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orelega+One&display=swap');
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

.heroimage img{
    width: 750px;
    }

}