/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
.nav {
		display: flex;
		align-items: center;
	}
.nav li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

.nav a {
	text-align: center;
	}

.nav li:first-child {
	display: none;
	}

	/*
.heroimage img{
	position: absolute;
}	*/

/*
.weathersummary{
	float: left;
	}
*/

.contact-info {
	background-color: var(--accent1-color);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
}
.article-division {
	background-color: var(--accent5-color);
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
}

} /*end medium */
