/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
nav button {
    display: none;    
    }

nav ul.hide {
    display: block;     
    }
   
nav ul li {
    float: left;     
    }

nav ul li a {
    border: none;
    border-right: rgba(0,0,0,0.3);
    padding: .08rem 1rem;   
    }
    

div.center-image{
	position: relative;
    text-align: center;
}

div.center-image img{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

	/*
.heroimage img{
	position: absolute;
}	*/

/*
.weathersummary{
	float: left;
	}
*/

.contact-info {
	background-color: var(--accent1-color);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
}
.article-division {
	background-color: var(--accent5-color);
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
}

} /*end medium */
