@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orelega+One&display=swap');
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

:root {
    --primary-color: #3b7ae6;
    --secondary-color:#c2eee8;
    --accent1-color: #B5BAD0;
    --accent2-color: #f3e4b4;
    --accent3-color: white;
}

nav{
    background-color:var(--accent2-color);
}

nav button {
    display: none;
    }

nav ul.hide {
    background-color:var(--accent2-color);
    display: block;
    }

nav ul li {
    list-style-type: none;
    float: left;
    text-decoration: none;
        }
    
nav a {
    border: none;
    border-right: rgba(0,0,0,0.3);
    text-decoration: none;
    padding: .08rem 1rem;
    }

nav a:hover{
    color:var(--accent1-color);
    background-color:var(--accent2-color);
        }


body {
    font-size: 16px;
    line-height: 1.5;
    max-width:750px;
    margin:0 auto;
    font-family: 'Lora', serif;
    background-color:var(--accent3-color);
}

header {
	background-color:var(--primary-color);
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}



.headings {
	display: flex;
	flex-direction: column;
}

.eslogan {
	font-style: italic;
	letter-spacing: 1pt;
	color: var(--accent2-color);
	margin-left: 20px;
	font-size: .9rem;
}

main {
    margin:25px;
}

h2  {
    font-family: '', cursive;
    margin-top:1.5em;
    padding:2px;
    color: white;
}

h3 {
    text-align: center;
    background-color: #98b2d6;    
    padding: 0.5em;
    margin-bottom: 1.2em;
    border-top: 5px double;
    border-bottom: 5px double;
}

footer {
    background-color:var(--accent2-color);
    padding: 5px;
    margin-top:2em;
    border-bottom:10px;
    color:black;
    text-align:center;
   
}

footer a {
    color:black;
}

.contentbox-home {
    border: solid var(--accent2-color) ;
    background-color:var(--secondary-color);
    color: black;
    
}

/* preston-town*/

.hero-image{
    margin:64rem auto;
    background-color: var(--secondary-color);
    

}

.hero-image img{
    max-width: 750px;
}