@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orelega+One&display=swap');
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

:root {
    --primary-color: #2064d8;
    --secondary-color:#81D2C7;
    --accent1-color: #B5BAD0;
    --accent2-color: #E0E0E2;
    --accent3-color: rgb(14, 7, 7);
    --accent4-color:#f5d7ad;
    --accent5-color: white;
    --font-family:'Libre Baskerville', serif;
    --heading-font:'italic' ;
    --boldheading-font: 'italic' , bold;
    --paragraph-font:'Benne';
    --boldparagraph-font:'Benne',bold; 
}

nav{
    background-color:var(--accent2-color);
}

nav button {
    display: none;
    }

nav ul.hide {
    background-color:var(--accent2-color);
    display: block;
    }

nav ul li {
    list-style-type: none;
    float: left;
    text-decoration: none;
    }
    
nav a {
    border: none;
    border-right: rgba(0,0,0,0.3);
    text-decoration: none;
    padding: .08rem 1rem;
    }

nav a:hover{
    color:var(--accent1-color);
    background-color:var(--accent2-color);
    }

body {
    font-size: 16px;
    line-height: 1.5;
    max-width:750px;
    margin:0 auto;
    font-family: 'Lora', serif;
    background-color:var(--accent2-color);
}

header {
	background-color:var(--primary-color);
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

.heading h1 {
	display: flex;
	flex-direction: column;
    color: var(--accent2-color);
}

.eslogan {
	font-style: italic;
	letter-spacing: 1pt;
	color: var(--accent2-color);
	margin-left: 20px;
	font-size: .9rem;
}

.heroimage h1{
    text-align: center;
    font-family: var( --boldheading-font);
}

h2{
    font-family: var(--heading-font);
    margin-top:1.5em;
    padding:2px;
    color: white;
}

footer{
    background-color:var(--accent5-color);
    font-family: var(--paragraph-font);
    color:black;
    text-align:center;  
}



.contentbox-home{
    border: solid var(--accent2-color) ;
    background-color:var(--secondary-color);
    color: black;
}

/* preston-town*/

.menu{
    background-color: white ;
}

main{
    background-color: white;
}

.mainh1{
    color: var(--accent3-color);
    font-family: var(--heading-font);
    text-align: center;
}

.heroimage{
    margin:10px auto;
    border:1px solid var(--accent2-color);
    width:900px;
    height:auto;
}

.heroimage img{
    max-width: 750px;
}

.weathersummary{
    position:absolute;
    top:300px;
    left:350px;
    background-color: var(--secondary-color);
    border:1px solid var(--primary-color);
    padding: .5rem;
    box-shadow:0 0 30px #777;
}

.weathersummary p{
    font-family: var(--boldparagraph-font);
}

.hero-image h2{
    font-family: var(--boldheading-font);
    text-align: center;
    width: 100%;
    height:auto;
}

.article-division{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 40px;
}

.article-division p{
    text-align: justify;
}

.articleimage{
    text-align: center;
    margin-top: 120px;
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.contactinfo-container{
    padding:20px;
}
.contactinfo-container img{
    width: 35px;
    height: 35px;
    padding: 5px;
}

.contactinfo-container p{
    line-height: 0.90rem;
    font-family: var(--paragraph-font); 
}

.contact-info picture{
    text-align: center;
    margin-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.five-day-forecast {
    background-color: var(--secondary-color);
}

.five-day-forecast p{
    text-align: justify;
    float:right;
}

h2{
    font-family: var(--heading-font);
    text-align: center;

}

h3{
    font-family: var(--heading-font);
    color:var(--accent3-color);
    text-align: center
}

h4{
    font-family: var(--heading-font);
    color:var(--accent3-color);
    text-align: center;
}

.contact-info{
    background-color: var(--accent1-color);
}

.infoimages{
    display: flex;
}


