@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orelega+One&display=swap');
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

:root {
    --primary-color: #2064d8;
    --secondary-color:#81D2C7;
    --accent1-color: #B5BAD0;
    --accent2-color: #E0E0E2;
    --accent3-color: rgb(14, 7, 7);
    --accent4-color:#f5d7ad;
    --accent5-color: white;
    --font-family:'Libre Baskerville', serif;
    --heading-font:'italic' ;
    --boldheading-font: 'italic' , bold;
    --paragraph-font:'Benne';
    --boldparagraph-font:'Benne',bold; 
}

.heroimage img{
    width: 750px;
}

nav{
    background-color:var(--accent1-color);
}

nav button {
    display: none;
    }

nav ul.hide {
    background-color:var(--accent2-color);
    display: block;
    }

nav ul li {
    list-style-type: none;
    float: left;
    text-decoration: none;
    }
    
nav a {
    border: none;
    border-right: rgba(0,0,0,0.3);
    text-decoration: none;
    padding: .08rem 1rem;
    }

nav a:hover{
    color:var(--accent1-color);
    background-color:var(--accent2-color);
    }

body {
    font-size: 16px;
    line-height: 1.5;
    max-width:750px;
    margin:0 auto;
    font-family: 'Lora', serif;
    background-color:var(--accent5-color);
}

html{
    background-color: var(--accent2-color);
}

header {
	background-color:var(--primary-color);
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

h1 {
	display: flex;
	flex-direction: column;
    color: var(--accent2-color);
    color:var(--accent5-color);
}

h2{
    font-family: var(--heading-font);
    margin-top:1.5em;
    background-color:var(--accent3-color);
}


.eslogan {
	font-style: italic;
	letter-spacing: 1pt;
	color: var(--accent2-color);
	margin-left: 20px;
	font-size: .9rem;
}

.heroimage h1{
    text-align: center;
    font-family: var( --boldheading-font);
}


footer{
    background-color:var(--accent5-color);
    font-family: var(--paragraph-font);
    color:black;
    text-align:center;  
}

.contentbox-home{
    border: solid var(--accent2-color) ;
    background-color:var(--secondary-color);
    color: black;
}
