@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orelega+One&display=swap');
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

:root {
    --primary-color: #2064d8;
    --secondary-color:#81D2C7;
    --accent1-color: #B5BAD0;
    --accent2-color: #E0E0E2;
    --accent3-color: rgb(14, 7, 7);
    --accent4-color:#f5d7ad;
    --font-family:'Libre Baskerville', serif;
    --heading-font:'italic' ;
    --boldheading-font: 'italic' , bold;
    --paragraph-font:'Benne';
    --boldparagraph-font:'Benne',bold; 
}

nav{
    background-color:var(--accent2-color);
}

nav button {
    display: none;
    }

nav ul.hide {
    background-color:var(--accent2-color);
    display: block;
    }

nav ul li {
    list-style-type: none;
    float: left;
    text-decoration: none;
        }
    
nav a {
    border: none;
    border-right: rgba(0,0,0,0.3);
    text-decoration: none;
    padding: .08rem 1rem;
    }

nav a:hover{
    color:var(--accent1-color);
    background-color:var(--accent2-color);
        }


body {
    font-size: 16px;
    line-height: 1.5;
    max-width:750px;
    margin:0 auto;
    font-family: 'Lora', serif;
    background-color:var(--accent4-color);
}

header {
	background-color:var(--primary-color);
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

.heading h1 {
	display: flex;
	flex-direction: column;
    color: var(--accent2-color);
}

.eslogan {
	font-style: italic;
	letter-spacing: 1pt;
	color: var(--accent2-color);
	margin-left: 20px;
	font-size: .9rem;
}

main {
    margin:25px;
}

.hero-image h1{
    text-align: center;
    font-family: var( --boldheading-font);
}

h2  {
    font-family: '', cursive;
    margin-top:1.5em;
    padding:2px;
    color: white;
}

footer {
    background-color:var(--accent2-color);
    padding: 5px;
    margin-top:2em;
    border-bottom:10px;
    color:black;
    text-align:center;
   
}

footer a {
    color:black;
}

.contentbox-home {
    border: solid var(--accent2-color) ;
    background-color:var(--secondary-color);
    color: black;
    
}

/* preston-town*/

.hero-image{
    margin:64rem auto;
    background-color: var(--secondary-color);
    border:1px solid var(--accent2-color);
}

.hero-image img{
    max-width: 750px;
}

.heading h1{
    color: var();
}

.hero-image h2{
    font-family: var(--boldheading-font);
    text-align: center;
    width: 750px ;
    height:500px;
}

.five-day-forecast {
    background-color: var(--secondary-color);
}

.five-day-forecast p{
    text-align: justify;
    float:right;
}

h2{
    font-family: var(--heading-font);
    text-align: center;

}

h3{
    font-family: var(--heading-font);
    color:var(--accent3-color);
}

h4{
    font-family: var(--heading-font);
    color:var(--accent3-color);
}