/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Small/Phone View ***************/


:root {
    --primary-color: #2064d8;
    --secondary-color:#81D2C7;
    --accent1-color: #B5BAD0;
    --accent2-color: #E0E0E2;
    --accent3-color: rgb(14, 7, 7);
    --accent4-color:#f5d7ad;
    --accent5-color: white;
    --font-family:'Libre Baskerville', serif;
    --heading-font:'italic' ;
    --boldheading-font: 'italic' , bold;
    --paragraph-font:'Benne';
    --boldparagraph-font:'Benne',bold; 
}

nav{
    background-color:var(--accent2-color);
}

nav button {
    display: none;
    }

nav ul.hide {
    background-color:var(--accent2-color);
    display: none;
    }

nav ul li {
    list-style-type: none;
    float: left;
    text-decoration: none;
    }
    
nav a {
    border: none;
    border-right: rgba(0,0,0,0.3);
    text-decoration: none;
    padding: .08rem 1rem;
    }

nav a:hover{
    color:var(--accent1-color);
    background-color:var(--accent2-color);
    }

.responsive li {
	display: block;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
