/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

/*Home*/
.social{
    text-align: center;
}

/* Contact*/ 
.contactdiv{
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    }

iframe{
    margin: 20px;
}

/*Home*/
#five_day {
    display: block;
}

#gallery_imgs{
    grid-template-columns: 1fr 1fr ;
    display: grid;
}

/*Tours */
.tours-container{
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap:20px;
}



}