/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Small/Phone View */

:root{
    --primary-color: #EDEBA0;
    --secondary-color:#D1EFB5;
    --accent1-color: #C3C48D;
    --accent2-color: #E0E0E2;
    --accent3-color: rgb(14, 7, 7);
    --accent4-color:#928C6F;
    --accent5-color: white;
    --font-family:'Libre Baskerville', serif;
    --heading-font:'italic' ;
    --boldheading-font: 'italic' , bold;
    --paragraph-font:'Benne';
    --boldparagraph-font:'Benne',bold; 
}


nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
    }

nav{
    background-color: var(--accent1-color);

}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav ul li a{
    display: block;
    padding: .08rem 2%;
    text-decoration: none;
    list-style-type: none;
    border-top: 1px solid var(--accent3-color);

}

nav ul li.active a{
    background-color: rgba(80, 81, 79, 0.2);
    color: var(--accent3-color);
   
    }

nav ul li a:hover{
    background-color: rgba(80, 81, 79, 0.4);
   
    }


nav ul.hide {
    display: none;
    }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


body {
    background-color: var(--accent5-color);
    max-width: 960px;
    font-size: 16px;
    margin: 0 auto;
    text-decoration: none;
}

img{
    width: 100%;
}
html {
    background-color: var(--accent5-color);
}

header{
    color: var(--primary-color);
    background: var(--accent1-color);
    align-items: center;
    justify-content: center;
    max-width: 960px;
    display: flex;
    padding: 5px 0;
    font-family: 'Bangers', cursive;
}



footer{
    background-color: var(--primary-color);
    color: var(--accent3-color);
    font-family: var(--font-family);
    max-width: 960px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

h1,
h2,
h3,
h4{
    text-align: center;
}

/* Home*/

#Info {
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    border: solid 1px #cdcdcd;
    border-collapse: collapse;
    box-shadow: 8px 8px 12px #5e9097;
}

.rentalinfo{
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    border: solid 1px #cdcdcd;
    border-collapse: collapse;
    box-shadow: 8px 8px 12px #5e9097;

}

.summary{
    text-align: center;
}

/* Tours*/
.tours{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var();
    box-shadow: 1px 1px var(--accent1-color);
    color: var(--accent3-color);
}

h2{
    color:var(--accent4-color);
    text-align: center;
}

.tours h3{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 5px;
    color:var(--accent4-color); 
    text-align: center;
}

#toursimg{
    text-align: center;
}

/* Contact*/

.rentalinfo{
    display: block;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid var(--accent3-color);
    box-shadow: 1px 1px var(--accent1-color);
    color: #326773;
    text-align: center;
}

.contactdiv{
    grid-template-columns: 1fr ;
}

.form fieldset{
margin: 2rem 0;
border: 1px solid var(--primary-color);
border-radius: 10px;
padding: .5rem 2%;
}

.submit_button{
    text-align: center;
}

/* Reservations */

